body{
	background-color:black;
	color:#555;
	
}


.container{
	padding-top:10px;
	margin-left:5%;
	margin-right:5%;
	background-image: url(../img/index.jpg);
	background-size: 100% 100%;
	width: 1180px;
	height:660px;
	background-repeat:no-repeat;
	color:white;
}


 #top-details a{
	padding-right:40px;
	padding-left:10px;
	float:right;
	top:1px;
	right:10px;
	text-decoration:none;
	color:white;
	display:block;
	opacity:.6;
	text-align:center;
	height:20px;
	width:40px;
}
.container hr{
	margin-top:25px;
	background-color:white;
}

 #top-details a:hover{
	margin:-right:2px;
	background-color:white;
	text-align:center;
	color:black;
	opacity:none;
	height:25px;
	width:50px;
	

}
#main-nav{
	
	
}
#TRAVELLING_THE_WORLD_button{
	
}

#main-nav a:visited{
	transition:0.6s ease;
	color:white;
}

#main-nav a h3:hover{
	transition:0.6s ease;
	color:black;
	text-align:center;
}

#main-nav h3{
	position:relative;
	border:2px white solid;
	padding:10px;
	left:20px;
	top:-15px;
	float:left	;
}

#main-nav ul{
	padding-top:3px;
	padding-right:20px;
	padding-left:10px;
	list-style:none;
}


#main-nav ul li{
	
	width: 100px;
	height:50px;
	background-color:black;
	opacity:.7;
	padding-right:25px;
	padding-left:10px;
	text-align:center;
	float:right;
}



#main-nav ul li a{
	width: 100px;
	height:30px;
	text-decoration:none;
	padding-top:20px;
	color:white;
	display:block;
	transition:0.6s ease;
}



#main-nav ul li a:hover{
	transition:0.6s ease;
	background-color:white;
	color:blue;
}
#main-nav ul li ul li{
	display:none;
	
}
#main-nav ul li ul {
	width: 110px;
}


#main-nav ul li:hover ul li{
	
	display: block;
	
}
.removefloat1{
	clear:both;
}

 #selector1{
	 border:2px black solid;
	position:absolute;
	top:500px;
	left:850px;
	width:120px;
	height:120px;
	background-color:#9c93a0;
	/*opacity:.6;*/
	appearance:none;
	
	
} 
#selector2{
	 border:2px black solid;
	position:absolute;
	top:500px;
	left:700px;
	width:120px;
	height:120px;
	background-color:#9c93a0;
	/*opacity:.6;*/
	appearance:none;
	
	
} 

.selector1_top{
	background-color:#9c93a0;
	text-align:center;
	position:top;
	color:black;
	width:120px;
	height:30px;
}
.selector1_down{
	width:120px;
	background-color:#9c93a0;
	height:70px;
	text-align:center;
	position:bottom;
}

#selector1 select{
	background-color:#9c93a0;
	float:right;
	color:black;
	width:120px;
	height:70px;
	border:none;
	font-family:arial;
	font-size:40px;
	text-align:center;
	
	-webkit-appearance:button;
}
#selector1 select option{
	background-color:green;
	font-size:34px;
	border:0px;
	
		
}

#selector2 select{
	background-color:#9c93a0;
	float:right;
	color:black;
	width:120px;
	height:70px;
	border:none;
	font-family:arial;
	font-size:40px;
	text-align:center;
	
	-webkit-appearance:button;
}
#selector2 select option{
	background-color:green;
	font-size:34px;
	border:0px;
	
		
}
#button_search_avialabilty{
	position:absolute;
	top:515px;
	left:1000px;
	width:160px;
	height:90px;
	background-color:#9c93a0;
	/*opacity:.6;*/
	appearance:none;
	
}

#button_search_avialabilty:hover{
	position:absolute;
	top:510px;
	left:990px;
	width:170px;
	height:100px;
	background-color:black;
	color:white;
	/*opacity:.6;*/
	appearance:none;
	
}

/*second div  below*/
.container1{
	padding-top:10px;
	margin-top:20px;
	margin-left:5%;
	margin-right:5%;
	background-image: url(../img/index.jpg);
	background-size: 100% 100%;
	width: 1180px;
	height:660px;
	background-repeat:no-repeat;
	color:white;
}



#container1_div_1{
	background-image: url(../img/index.jpg);
	background-size: 100% 100%;
	position:absolute;
	top:740px;
	left:150px;
	width:280px;
	height:380px;
	background-color:red;
	
}
 /*~ is used to hover on one dive and change the style of another div*/
#container1_div_1:hover ~ #container1_div_4{
	position:absolute;
	transition:0.6s ease;
	top:1120px;
	left:140px;
	width:300px;
	height:225px;
	background-color:white;
	
}


#container1_div_2{
	
	position:absolute;
	top:740px;
	left:525px;
	width:280px;
	height:215px;
	background-color:blue;
	
}

#container1_div_3{
	transition:0.6s ease;
	background-image: url(../img/index.jpg);
	background-size: 100% 100%;
	position:absolute;
	top:740px;
	left:900px;
	width:280px;
	height:380px;
	background-color:red;
	
}


#container1_div_3:hover{
	transition:0.6s ease;
	background-image: url(../img/index.jpg);
	background-size: 100% 100%;
	position:absolute;
	top:720px;
	left:885px;
	width:310px;
	height:400px;
	background-color:white;
	
}


#container1_div_4{
	transition:0.6s ease;
	position:absolute;
	top:1120px;
	left:150px;
	width:280px;
	height:215px;
	background-color:green;
	
}

#container1_div_5{
	transition:0.6s ease;
	background-image: url(../img/index.jpg);
	background-size: 100% 100%;
	position:absolute;
	top:955px;
	left:525px;
	width:280px;
	height:380px;
	background-color:red;
	
}


#container1_div_5:hover{
	transition:0.6s ease;
	background-image: url(../img/index.jpg);
	background-size: 100% 100%;
	position:absolute;
	top:935px;
	left:510px;
	width:310px;
	height:400px;
	background-color:white;
	
}



#container1_div_6{
	position:absolute;
	top:1120px;
	left:900px;
	width:280px;
	height:215px;
	background-color:blue;
	
}

@keyframes sliderdivs{
	
	1% {
		left:0%;
	}
	
	0%{
		left:0%;
	}
	20%{
		left:0%;
	}
	
	25%{
		left:-100%;
	}
	
	45%{
		left:-100%;
	}
	
	50%{
		left:-200%;
	}
	70%{
		left:-200%;
	}
	
	75%{
		left:-300%;
	}
	
	95%{
		left:-300%;
	}
	100%{
		left:-300%;
	}
}
		
#container1_div_1{
	overflow:hidden;
	
}


#container1_div_1 figure img{
	width:280px;
	height:380px;
	float:left;
}

#container1_div_1 figure {
	margin:0;
	padding:0;
	position:relative;
	width:400%;
	left:0px;
	text-align:left;
	animation:15s sliderdivs infinite;
}